/** additional styles for app **/

label {
    color:#eee;
}

.form-body {
    padding:50px;
    background-color:#333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom:30px;
}

.journal-item {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23), 0 3px 6px rgba(0,0,0,0.23);
    width:80%;
    margin: 0 auto;
    display:block;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    background-color:#f1f1f1;
    margin-bottom:50px;
}

.journal-title {
    text-align: center;
    padding:20px;
}

.journal-content {
    text-align:left;
    padding:20px 30px;
    background-color: #fff;
}

.journal-author {
    text-align: right;
    color:#aaa;
    font-family:cursive;
    font-size:0.95rem;
    
}