journal-app/.vscode/
movie-web-scrapper/node_modules/
secrets.js
word-guesser/
restaurant-randomizer/node_modules/
/movie-searcher/secretstuff.js
/movie-searcher/movie_app/node_modules
/fish-finder/
/obligatory-react-todo-list/node_modules
/obligatory-react-todo-list/markup.html
/animejs-practice/node_modules
/node_modules
*node_modules
/homebrew
/gra-js-test