.success-css {
    width: 60px;
    height:60px;
    border-radius: 50%;
    background-color:lightgreen;
    position:relative;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.success-css-check-lower {
    background-color:white;
    height: 17px;
    width:4px;
    margin-left:32%;
    margin-top:55%;
    border-radius:25%;
    /* position:relative; */
    /* display:inline-block; */
    transform: rotate(-60deg);
}

.success-css-check-upper {
    background-color:white;
    height: 34px;
    width:4px;
    margin-left:53%;
    margin-top:-60%;
    border-radius:25%;
    /* position:relative; */
    /* display:inline-block; */
    transform: rotate(-160deg);
}
