/* styles for map canvas */
.mapTile {
    background: url('../img/grass.jpg');
    background-size:cover;
    /* background-color: #228B22; */
	position: absolute; 
	top: 0px; left: 0px;
	width: 15px; height: 15px;
}

.mapPath {
    background: url('../img/path.jpg');
    background-size:cover;
}

/* styles for game ui */
.gen-button-ui {
    /* width: 150px; height: 75px; */
	color: #FFFFFF;
	text-align: center;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.start-button {
    width:270px;
    height:105px;
    background-image: url('../img/start.png');
    background-size:cover;
	position: absolute; 
    top: 495px; left: 20px;
}
 
.status-bar {
    background-color:#333;
    position: absolute;
    top: 700px;
    width:100%;
    text-align:center;
    color:white;
}
/* turret styles */
.gen-turret-ui {
    background-color: #eee;
    /* opacity: 0.7; */
    border: 2px solid #000000;
    position: absolute;
    top: 500px; left: 0px;
    width: 40px; height: 40px;
    color: #eee;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index:2;
}

.ui-00 {
    background: url('../img/tower0.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    background-color:#eee;
}

.ui-01 {
    background:url('../img/tower1.png');
    background-size:32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    background-color:#eee;
}

/* individual turret appearances */
.t00 {
    background: url('../img/tower0.png');
    background-size:cover;
}

.t00-range {
    padding: 15px;
    background-color: rgba(193, 66, 66, 0.5);
    border: 1px solid thin rgba(193, 66, 66, 0.5);
    border-radius:50%;
    top: 558.5px;
    left:845.5px;
    z-index: 2;
    position: absolute;
}

.t01 {
     background: url('../img/tower1.png');
     background-size:cover;
}

.t01-range {
    padding: 30px;
    background-color: rgba(193, 66, 66, 0.5);
    border: 1px solid thin rgba(193, 66, 66, 0.5);
    border-radius:50%;
    top: 558.5px;
    left:845.5px;
    z-index: 2;
    position: absolute;
}

.gen-turret {
    height:15px;
    width:15px;
    background-color:transparent;
    border-radius:50%;
    top: 567px;
    left:853px;
    position:absolute;
    z-index:3;
}

.grabbable {
    cursor: grab;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* closed-hand cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.turret-spawn-header {
    position:absolute;
    top:470px;
    left:700px;
    width:320px;
    height:30px;
    background-color: #333333;
    z-index:2;
    color:#eee;
    text-align: center;
    margin:0;
}

.turret-spawn {
    position: absolute;
    top: 500px;
    left:700px;
    padding: 10px;
    width:300px;
    height:150px;
    /* border-radius: 50%; */
    background-size: 10px 10px;
    background-color: yellow;
    background-image: linear-gradient(45deg,grey 25%,transparent 25%,transparent 50%,grey 50%,grey 75%,transparent 75%,transparent);
    /* text-align:center; */
}

.turret-spawn-center {
    position: absolute;
    top: 535px;
    left:820px;
    width:50px;
    padding: 10px;
    height:50px;
    border-radius: 50%;
    background-color:#888;
    border: #333 solid thick;
}

/* creeps */
.gen-creep {
    background-image: url('../img/creep1.png');
    background-size: 15px 15px;
    background-position: center;
    background-color: transparent;
	position: absolute;
    width: 15px; 
    height: 15px;
    top: 0px; 
    left: 0px;	
}
/* page ui styles */
body {
    font-family: "VT323";
    font-size: 2em;
    margin:0;
    padding:0;
    color:#eee;
}

.menu-ui {
    padding:0;
    margin:0;
    height: 100%;
    width:1695px;
    position:absolute;
    background: url('../img/brickback.png');
    background-repeat: repeat;
    z-index:-10;
}

/* game over */
.game-over {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
}
.hidden {
    display:none;
}

/* level selector */
.text-writeup {
    position:absolute;
    margin-left: 1100px;
    margin-top: 470px;
    padding: 5px;
    width: 450px;
    height:200px;
    background-color:#333;
    z-index:2;
}